@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
// Variables
$blue:#2f8ad9;
$white:#fff;
$black:rgb(22, 22, 22);
$unit:12px;
$limit:28;
// funcion para multiplicar el tamaño del texto dinamicamente
@function size($value) {
    @return $value*$unit;
}
// conjunto de codigo reutilizable
@mixin reset-pm {
        margin: 0;
        padding: 0;
}
@mixin button($background-color,$color,$bold,$border){
    background-color:$background-color;
    color:$color;
    border: $border;
    border-radius:50px;
    padding: 20px 15%;
    transition-duration: .5s;
    box-shadow:0 5px 3px 3px rgba(47, 47, 47, 0.1);
    @if ($bold=='true') {
        font-weight: bold;
    }
}
@mixin btn-offer {
    width: 100%;
    height:80%;
    border: none;
    font-weight: bold;
    font-size:size(1.5);
    border-radius: 7px;
    color: $white;
    cursor: pointer;
}
@mixin card {
    text-align: center;
    width: 100%;
    height:auto;
    padding: auto auto;
    color: $white;
    border-radius: 20px;
    margin-top:30px; 
    font-weight: bold;
}
// Ciclo for
@for $i from 1 to $limit{
    .cell-#{$i}{
        border-bottom: 1px solid rgb(117, 117, 117);
    }
}
@for $x from 4 to 28{
    .cell-#{$x}{
        text-align: center;
    }
}
@for $y from 1 to 5{
    .section-footer-#{$y}{
        text-align:justify;
    }
}
// global
*{
    @include reset-pm();
    box-sizing: border-box;
}
body{
    background-color: $black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    font-size:$unit;
}
// Cambiar el scrollbar
::-webkit-scrollbar{
    width: $unit;
}
::-webkit-scrollbar-track{
    background-color: rgb(35, 35, 35);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(79, 79, 79);
    border-radius:6px;
}
// header
#header{
    width: 100%;
    height:20vh;
    padding: 20px 4%;
    display: flex;
    align-items: center;
    section{
        width: 200px;
        height:80%;
        text-align: center;
        padding:1% 0;
        font-weight: bold;
        border-radius:10px;
        border: 1px solid $white;
        color:white;
    }
}
.container-logos{
    margin: 0 auto;
    margin-top:15px;
    width: 100%;
    .logo-section{
        width: 20px;
        margin-right: 20px;
    }
    .logo-section-enel{
        width: 40px;
    }
}
.logo{
    width: 200px;
    margin-left:27%;
}
.btn{
    @include button(transparent,$white,'true',1px solid $white);
    padding: 10px 20px;
    height: 40px;
    margin-left: 30%;
    border-radius:20px;
    &:hover{
        @include button($white,$black,'true',none);
        cursor: pointer;
        padding: 10px 20px;
        height: 40px;   
    }
}
#main{
    margin: 0 auto;
    width: 40%;
    height: auto;
    color: $white;
    h1{
        text-align:center;
        font-size:size(2.5);
        font-weight: bolder;
    }
}
.first-article,.second-article,.third-article,.fourth-article,.fifth-article{
    @include card();
    background: rgb(252,115,0);
    background: linear-gradient(45deg, rgba(252,115,0,1) 0%, rgba(255,163,0,1) 50%, rgba(255,193,0,1) 100%);    
    p{
        font-size:size(1.4);
    }
    h1{
        font-size:size(3);
    }
    h2{
        font-size:size(1.5);
    }
    a{
        color: $white;
        font-size: size(1.3);
    }
    .btn-card{
        @include button($black,$white,'true',none);
        &:hover{
            @include button($white,$black,'true',none);
            cursor:pointer;
        }
    }
}
.second-article,.third-article,.fourth-article{
    background: rgb(148,0,252);
    background: linear-gradient(45deg, rgba(148,0,252,1) 0%, rgba(0,159,255,1) 50%, rgba(0,219,255,1) 100%);
}
.fifth-article{
    background: rgb(110,0,252);
    background: linear-gradient(45deg, rgba(110,0,252,1) 0%, rgba(115,0,255,1) 50%, rgba(158,0,255,1) 100%);
}
.title-offer{
    margin-top:50px;
}
.container-offers{
    margin-top:50px;
    width:100%;
    height: 40vh;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 20% auto auto auto auto auto auto auto auto;
    p{      
        
        margin-top:5px;
        margin-bottom:5px;
        font-size:size(1.2);
    }
    img{
        width: 20px;
        margin-top:5px;
    }
    .button-offer,.button-offer-2{
        @include btn-offer();
        background: rgb(110,0,252);
        background: linear-gradient(45deg, rgba(110,0,252,1) 0%, rgba(115,0,255,1) 50%, rgba(158,0,255,1) 100%);
    }
    .button-offer-2{
        background: rgb(148,0,252);
        background: linear-gradient(45deg, rgba(148,0,252,1) 0%, rgba(0,159,255,1) 50%, rgba(0,219,255,1) 100%);
    }
}
.sixth-article{
    background: rgb(27,27,27);
    background: linear-gradient(175deg, rgba(27,27,27,1) 0%, rgba(84,74,74,1) 100%);
    @include card();
    margin-top:120px;
    p{
        font-size:size(1.4);
    }
    h1{
        font-size:size(3);
    }
    h2{
        font-size:size(1.5);
    }
    a{
        color: $white;
        font-size: size(1.3);
    }
    img{
        width: 80%;
    }
    .btn-card{
        @include button($black,$white,'true',none);
        padding:20px 5%;
        &:hover{
            @include button($white,$black,'true',none);
            cursor: pointer;
            padding:20px 5%;
        }
    }
}
.container-paragraph{
    width:100%;
    height:auto;
    text-align:center;
    margin-top: 100px;
    color: rgb(117, 117, 117);
}
hr{
    margin-top:50px;
    border-color:rgb(117, 117, 117);
}

#footer{
    height: auto;
    width: 100%;
    padding: 5% 10% 0% 10%;
    color: $white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    h3{
        font-size:size(1.3);
    }
    a{
        font-size:size(1.3);
        text-decoration: none;
        color: rgb(117, 117, 117);
    }   
}
.container-footer{
    width: 100%;
    height: auto;
    display:flex;
    padding: 0% 10% 0% 10%;
    color: $white;
    .redes{
        width:auto;
        cursor:pointer;
    }
    img{
       width: 100px;
       margin-left: 35%;
    }
    .copy{
        font-size:size(1.3);
        margin-left:30%;
    }
}
@media(max-width:1225px){
    .header-section{
        display:none;
    }
}

